.message_input-name {
  position: relative;
  width: 240px;
  height: 30px;
  top: 20px;

  padding-left: 20px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 105%;
  /* or 16px */

  color: #858994;
}
