.p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 105%;
}

.message__info {
  color: #858994;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message__msg-wrap_msg {
  padding: 10px 10px 10px 10px;
  color: #333333;
  white-space: pre-line;
}
