.action-bar {
  margin-right: 60px;
  margin-left: 60px;
  flex: 1 2 260px;
  max-width: 260px;
  height: 369px;
}

@media screen and (max-width: 850px) {
  .action-bar {
    margin-right: 1em;
  }
}
