.card {
  width: 100%;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25);
  border-radius: 6px;

  margin-top: 20px;

  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
}

.card:first-of-type {
  margin-top: 0px;
}

.card:last-of-type {
  margin-bottom: 20px;
}

.card_expanded {
  height: auto;
}
