.card__theme {
  position: relative;
  text-align: left;

  margin-left: 19px;
  margin-top: 12px;

  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 90.2%;
  /* or 16px */

  color: #444444;
}
