.card__theme {
  position: absolute;
  height: 16px;
  left: 20px;
  top: 33px;

  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 90.2%;
  /* or 16px */

  color: #000000;
}
