.p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__info {
  position: relative;
  text-align: left;

  margin-left: 20px;
  margin-top: 10px;

  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 105%;
  /* identical to box height, or 13px */


  color: #858994;
}

.card__tag {
  position: relative;
  text-align: left;

  display: inline;
  float: left;
  margin-left: 20px;
  margin-top: 9px;
  padding-bottom: 13px;

  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 105%;
  /* identical to box height, or 13px */


  color: #858994;
}

.card__replies {
  position: relative;
  text-align: right;

  display: inline;
  float: right;
  margin-right: 20px;
  margin-top: 9px;
  padding-bottom: 13px;

  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 105%;
  /* identical to box height, or 13px */

  color: #858994;
}

.card__text {
  position: relative;
  width: 540px;
  text-align: left;

  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 9px;

  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 121.2%;

  color: #222222;

  visibility: hidden;
}

.card__text_visible {
  visibility: visible;
}
