.navbar {
  position: absolute;
  width: 1440px;
  height: 58px;
  left: 0px;
  top: 113px;

  background-color: #ffffff;
}

.navbar__input-div {
  position: absolute;
  width: 260px;
  height: 30px;
  top: 14px;
  right: 60px;

  border: 1px solid #b5b9c4;
  border-radius: 4px;
}
