.navbar {
  position: relative;
  width: 100vw;
  height: 58px;
  left: 0px;

  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.navbar__input-div {
  width: 260px;
  height: 30px;
  margin-top: 14px;
  margin-right: 60px;

  border: 1px solid #b5b9c4;
  border-radius: 4px;
}

@media screen and (max-width: 850px) {
  .navbar__input-div {
    margin-right: 1em;
  }
}
