.new-thread__close-button {
  display: inline-flex;

  margin-left: 20px;
  margin-top: 20px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 9px;

  border: 2px inset rgb(118, 118, 118);
  background-color: white;
  border-radius: 4px;
}

.new-thread-form__send {
  margin-left: auto;
  margin-top: 20px;

  height: 30px;
  flex: 1 1 132px;
  max-width: 132px;
  color: white;
  background: #B89B72;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;



  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  color: #FFFFFF;
}
