.new-thread-form__input-msg {
  margin-top: 20px;
  flex: 1 1 calc(100% - 40px);
  min-height: 151px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  word-break: break-word;

  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 105%;
}
