* {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.App {
  position: fixed;
  min-width: 100%;
  height: 100%;
  background-color: #ececec;

  overflow-y: scroll;
  overflow-x: hidden;
}
