.header {
  position: relative;
  width: 100vw;
  max-height: 114px;
  left: 0px;
  top: 0px;

  display: flex;
  flex-wrap: nowrap;
}

.header__background {
  position: absolute;
  width: 100vw;
  height: 108px;
  z-index: -99;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
}

.header__buttons-wrap {
  flex: 1 1;
  min-width: 315px;

  text-align: center;
  justify-content: center;
  margin-top: 64px;
  margin-right: 10%;

  display: flex;
}

@media screen and (max-width: 850px) {
  .header__buttons-wrap {
    margin-right: 1em;
    margin-left: 10px;
  }
}
