.h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 90.2%;
  /* or 22px */

  color: #282D3C;
}

/* .header__logo {
  position: relative;
  width: 167px;
  height: 66px;
  left: 60px;
  top: 20px;
} */

.header__logo {
  flex: 0 0;
  min-width: 168px;
  margin-top: 20px;
  margin-left: 60px;
}
